.goblaq-main-footer {
    position: absolute;
    background-color:  #4d4d4d;
    width: 100%;
    padding: 5% 0;
    color: #FFFFFF;

    .goblaq-main-footer-logo {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        .navbar-brand {
            padding: 0;
            margin: 0;
            position: relative;
            left: -15px;
        }
    }

    .goblaq-legal-content a {
        color: #FFFFFF;
        font-size: .8em;
        margin-left: .3em;
        margin-right: .3em;
        
        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    .goblaq-footer-links a {
        color: #FFFFFF;
    }

    .goblaq-footer-contact-info li {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    @media (max-width: 576px) {
        display: flex;
        flex-direction: column;
        justify-content: flex-center;
        align-items: flex-center;

        * {
            display: flex;
            flex-direction: column;
            justify-content: flex-center;
            align-items: flex-center;
        }
    }

    // Medium devices (tablets, 768px and up)
    // @media (min-width: 768px) {
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: flex-center;
    //     align-items: flex-center;
    // }
    
    // // Large devices (desktops, 992px and up)
    // @media (min-width: 992px) {
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: flex-center;
    //     align-items: flex-center;
    // }
    
    // // Extra large devices (large desktops, 1200px and up)
    // @media (min-width: 1200px) {
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: flex-center;
    //     align-items: flex-center;
    // }
}