
.goblaq-main-banner {
    color: #FFFFFF;
    padding: 2% 5%;
    overflow-wrap: break-word;

    .goblaq-main-banner-title {
        font-size: 4.2em;
        font-weight: 700;
    }
    .goblaq-main-banner-lead {
        font-size: 1.8em;
        font-weight: 500;
    }
}