@import 'components/main-page';
@import 'components/main-nav';
@import 'components/main-banner';
@import 'components/main-search';
@import 'components/main-footer';

@import 'pages/about';
@import 'pages/affiliate';
@import 'pages/home';
@import 'pages/sign-in';
@import 'pages/sign-up';
@import 'pages/404';
@import url(http://webfonts-plus.herokuapp.com?family=Graphik);

$font-family: 'Graphik', sans-serif;

body {
  font: 100% $font-family;
  font-weight: 400;
  font-style: normal;

  .row {
    margin-left: 0; // override bootstrap style.
    margin-right: 0; // override bootstrap style.
  }
}

// @include media-breakpoint-up(xs) { }
// @include media-breakpoint-up(sm) { }
// @include media-breakpoint-up(md) { }
// @include media-breakpoint-up(lg) { }
// @include media-breakpoint-up(xl) { }
